@import "./reset.css";
body{
  -ms-overflow-style: none;
  
  
  }
::-webkit-scrollbar {
  display: none;
}
#wrap{
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  height:100%;
  width:100%;
  max-width:720px;
  min-width:720px;
  margin:auto;
  
}
/* header */
#header{
  text-align:center;
  position:fixed;
  top:0;
  z-index:4;
  max-width:720px;
  width:100%;
  height:80px;
  background: #fff;
  border-bottom:1px solid #ccc;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);  
}
#header span{
  position:absolute;
  left:40px;
  font-size:30px;
  font-weight:900;
  top:20px;
  color:#ccc;
}
.menu{
  display:inline-block;
  position:absolute;
  top:10px;
  right:50px;
  
  
}
.menu .bar1,.bar2,.bar3{
  
  background: #ccc;
  width:50px;
  margin:10px 0;
  height:5px;
  border-radius:1px;

}
.menu:hover{
  cursor:pointer;
}
.menu.on .bar1{
  transform: rotate(45deg) translate(10px,11px);
  transition: 0.1s;
  
}
.menu.on .bar2{
  visibility:hidden;
}
.menu.on .bar3{
  transform: rotate(-45deg) translate(10px,-11px);
  transition: 0.1s;
  
}
.side-bar {
  z-index:5;
  position: fixed;
  top: 80px;
  right: -400px; 
  width: 400px;
  height: 100vh;
  background-color: #f0f0f0;
  transition:right ease-in-out 0.3s;
  
}
.active{
  z-index:5;
  position: fixed;
  top: 80px;
  right: -0; 
  width: 400px;
  height: 100vh;
  background-color: #f0f0f0;
  transition:right ease-in-out 0.3s;
}
.overlay{
  z-index:1;
  position: fixed;
  top: 80px;
  left: 0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0); 
  transition:0.3s;
}
.dark-overlay {
  z-index:1;
  position: fixed;
  top: 80px;
  left: 0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5); 
  transition:0.3s;
  


}
.side-bar-ca ul li{
  background-color: #fff;
  
  padding: 20px 0;
  padding-right:20px;
  border: 1px solid #ccc;
}
.side-bar-ca ul li span{
  margin-left:30px;
  font-size:20px;
  font-weight:bold;
}
.side-bar-ca ul li span a{
  padding:13px 280px 13px 0px;
  text-decoration:none;
  color:black;
}
.side-bar-ca ul li {
  cursor:pointer;
}
.arrow1{
  position: absolute;
  right: 30px;
  top:15px;
  width:20px;
  height:20px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  transform: rotate(135deg);
}
.arrow1.move{
  position: absolute;
  right: 30px;
  top:25px;
  width:20px;
  height:20px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  transform: rotate(315deg);
}
.arrow2 {
  position: absolute;
  right: 30px;
  top:75px;
  width:20px;
  height:20px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  transform: rotate(135deg);
}
.arrow2.move {
  position: absolute;
  right: 30px;
  top:85px;
  width:20px;
  height:20px;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  transform: rotate(315deg);
}
/* header end */
/* main */
#main{
  position:relative;
  top:80px;
  height:500px;
  background: white;
  
}
#main h1{
  position:absolute;
  top:0;
  left:50%;
  line-height:2.5;
  height:80px;
  font-size:30px;
  text-align:center;
  transform:translateX(-50%);
  width:100%;
  background: white;
  border-bottom:1px solid #ccc;
}
.main-content {
  display:flex;
  flex-wrap:nowrap;
  
}
.main-content .text {
  position:absolute;
  top:100px;
  left:50%;
  transform:translateX(-50%);
  z-index:3;
  width:100%;
  height:70%;
  background: white;
  /* border-top:1px solid #ccc; */
  border-bottom:1px solid #ccc;
}
.main-content > div >span{
  font-size:200%;
  font-weight:bold;
  position:relative;
  top:20px;
  left:40px;
  

}
.main-content div ul{
  position:absolute;
  bottom:100px;;
  left:20px;
  
}
.main-content div img{
  position:absolute;
  top:0;
  right:10px;
  height:100%;
}
.main-content div ul li{
  font-weight:bold;
  padding:10px 0;
}
.pageline{
  display:flex;
  position:absolute;
  top:460px;
  left:50%;
  transform:translateX(-50%);
}
.pageline .dot{
  width: 10px;
  height:10px;
  background-color: #ccc;
  margin:0 5px;
  border-radius:100px;
  
}
.dot.on{
  background-color:orange;
}
.sect1{
  position:relative;
  top:75px;
  width:100%;
  height:1550px;
  
  background: #fff;
  
}
.sect1 h2 {
  
  position:relative;
  top:2px;
  width:80%;
  margin:auto;
  padding: 20px 0;
  text-align:center;
  font-size:30px;
  background-color: #fff;
}
.sect1 .movie,.netflix,.watcha,.disneyPlus{
  width:100%;
  height:300px;
  padding-bottom:40px;
  
}
.sect1 div h3 {
  font-size:23px;
  padding: 0 20px;
}
.sect1 .new-content{
  background-color: #f0f0f0;
  width:95%;
  margin:auto;
  height:80%;
  margin-top:20px;
  
  
}
.new-content ul {
  display:flex;
  flex-wrap:nowrap;
  overflow-x:auto;
  
}
.new-content ul li{
  z-index:1;
  
  
  
  padding-right:5px;
  flex: 0 0 auto;
  
}
.new-content ul li:last-child{
  padding-left:0;
}
.new-content ul li img{
  width:180px;
  height:240px;
  
}
/* main and */
/* footer */
#footer{
  
  position:relative;
  bottom:0px;
  right:1px;
  width:100%;
  background: #f0f0f0;
  height:200px;
  border: 1px solid #ccc;
}
#footer .logo {
  position:absolute;
  top:50%;
  left:40px;
  transform:translateY(-50%);
}
#footer .logo span{
  font-size:50px;
  font-weight:bold;
  color:#ccc;
}
#footer .inner{
  position:absolute;
  top:50%;
  left:30%;
  
  transform:translateY(-50%);
}
#footer .inner div{
  color:#909090;
}
/* MOBILE */
@media (min-width:1200px) {
  .bar{
    background-color: #000;
  }
}
/* PC */